.sidebar {
  top: calc(15% + 20px);
  font-size: 15px;
  width: 102px;
  height: 936px;
  flex-direction: column;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 0;
  padding: 57px 0;
  color: #FFFFFF;
  z-index: 1;
  left: 0;
  background-color: #0070BA;
  justify-content: space-around;
  position: absolute;
  display: flex;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
  }
}
